[package]
name = "epoch"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
strip = true
opt-level = 3
panic = 'abort'
codegen-units = 1

[dependencies]
chrono = "0.4.42"
clap = { version = "4", features = ["derive"] }
serde_json = "1.0.147"
